.main {
  /*text-align: center;*/
  color: #2c3e50;
}

.main p {
  margin: 16px 0;
}

.full-spining {
  .ant-spin {
    max-height: 65vh !important;
    .ant-spin-text {
      margin-block-start: 1.5rem;
    }
  }
}

//   bmap-container
.bmap-container {
  .BMap_CityListCtrl {
    .ui_city_change_inner {
      i {
        height: 100%;
        top: 0;
        em {
          line-height: 32px;
          display: inline-block;
        }
      }
    }
  }
}
.tangram-suggestion-main {
  z-index: 9999;
}
