.menuTab {
  :global(.ant-tabs-nav) {
    padding: 2px 0;
    border-top: 1px solid #e4e7ed;
    border-bottom: 1px solid #e4e7ed;

    &::before {
      display: none;
    }
  }
  :global(.ant-tabs-nav-wrap) {
    padding: 0 5px;
    :global(.ant-tabs-tab) {
      border-radius: 6px !important;
    }
    :global(.ant-tabs-tab) {
      border-bottom-color: #e4e7ed !important;
    }
  }
}
