.infoTitle {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
  font-family: 微软雅黑;

  &::before {
    content: '';
    display: block;
    margin-right: 4px;
    width: 7px;
    height: 17px;
    background: #3662ec;
    border-radius: 9px;
  }

  & > span {
    font-size: 12px;
    color: #454545;
    &::before {
      content: '*';
      margin: 0 2px 0 10px;
      color: red;
    }
  }
}

:global {
  .ant-collapse-header{
    background-color: #F5FBFF;
  }
}
