.DIN {
  font-family: "DINAlternate";
}

.YouSheBiaoTiHei {
  font-family: "YouSheBiaoTiHei";
}

.YaHei {
  font-family: "Microsoft YaHei";
}

@font-face {
  font-family: "YouSheBiaoTiHei";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("font/YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: "DINAlternate";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("font/DIN-ALTERNATE-BOLD.TTF");
}

@font-face {
  font-family: "DOUYU-Font";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("font/DOUYU Font.TTF");
}

@font-face {
  font-family: "Alibaba-PuHuiTi-B";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("font/Alibaba PuHuiTi Bold.ttf");
}

@font-face {
  font-family: "HuXiaoBo";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("font/HuXiaoBo.ttf");
}

